<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Vuelos</title>
</head>
<body>
    <h1>Bienvenido a la Gestión de Vuelos</h1>
    <ul>
        <li><a href="{% url 'register_flight' %}">Registrar Vuelos</a></li>
        <li><a href="{% url 'list_flights' %}">Listar Vuelos</a></li>
        <li><a href="{% url 'flight_statistics' %}">Estadísticas de Vuelos</a></li>
    </ul>
</body>
</html>